<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="entity_block new_entity">
        <form action="" method="post" name="placeable">
            <h2>New Placeable</h2>
            {{form.hidden_tag()}}
            <div class="row">
                {{ form.placeableName.label }}        
                {{ form.placeableName(class_="u-full-width") }}
            </div>       
            <div class="row">
                {{ form.description.label }}
                {{ form.description(class_="u-full-width") }}
            </div>
            <button class="button-primary" type="submit">Submit new</button>
        </form>
    </div>
    <div class="headerDivider entity_block"></div>
    <div class="entity_block">
        <h2>Existing Placeables</h2>
        <table>
            <tr>
                <td>Name: {{ existing.name }}</td>
                <td>Description : {{ existing.description }} </td>
            </tr>
        </table>
    </div>
    <p></p>
    {% endblock %}
</body>
</html>