 {% extends "layout.html" %}
 {% block content %}
<h2>Dev Center Pong Tracker</h2>
<h5>Sign up first then input matches</h5>
<p><a href="{{ url_for('matches') }}" class="btn btn-primary btn-large">Matches &raquo;</a></p>
<p><a href="{{ url_for('players') }}" class="btn btn-primary btn-large">Sign up / Players &raquo;</a></p>
<p><a href="{{ url_for('ranking') }}" class="btn btn-primary btn-large">Current Ranking &raquo;</a></p>
<h5>Calendar Scheduled matches</h5>
<iframe src="https://outlook.live.com/owa//calendar/00000000-0000-0000-0000-000000000000/4d80b6ce-22ec-493a-85f8-09e91526773f/cid-8C0F979E66D9D202/index.html" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
 {% endblock %}

